* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
}

header {
    background:#CF2B2B;
    width:100%;
    height:92px;
    display:flex;
    align-items: center;
    box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.2);

    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

header div {
    padding:15px;
    color:white;
}

h1, h3 {
    font-family: 'Righteous', cursive;
}

h1 {
    font-size:44px;
    weight:400;
    line-height:44px;
}

h2 {
    font-size:18px;
    font-weight:400;
    line-height: 21px;
}

main {
    width:100%;
    padding-left:15px;
    box-sizing:border-box;

    margin:118px 0;
}

h3 {
    margin: 10px auto;
    font-size:26px;
    font-weight:400;
    color:#333;
}

.container {
    display:flex;
    margin-bottom:30px;
    overflow-x: scroll;
}

.container::-webkit-scrollbar {
    display:none;
    scrollbar-width:none;
}

.opcoes {
    padding:10px;
    width:172px;
    height:216px;
    background:#fff;
    border-radius:9px;
    border: 5px solid white;

    margin-right:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.opcoes img {
    width:144px;
    height:87px;
    border-radius:4px;
}

.opcoes h4 {
    font-size:16px;
    font-weight:700;
    color:#333;
    line-height: 19px;
    width:144px;
    white-space: nowrap;
}

.opcoes p {
    font-size:15px;
    font-weight:300;
    color:#a6a6a6;
    line-height:19px;
    margin-bottom:5px;
    width:144px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /** número de linhas exibidas */
    -webkit-box-orient: vertical;
}

.opcoes p, h4 {
    overflow: hidden;
    text-overflow: ellipsis;
}

span {
    font-size:16px;
    font-weight:400;
    line-height:19px;
}

.opcoes div {
    display:flex;
    justify-content: space-between;
}

footer {
    width:100%;
    height:92px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;

    position:fixed;
    bottom:0;
    left:0;
}

.fechar-pedido {
    background-color:#cbcbcb;
    width:364px;
    height:61px;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    outline:none;
    border: none;
}

.enviar {
    background-color:#32b72f;
    width:364px;
    height:61px;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    font-size:20px;
    font-weight:400;
    text-align: center;
    color:white;
}

.enviar p {
    width:200px;
}

.enviar:disabled {
    background-color:#cbcbcb;
}

ion-icon {
    color:#32b72f;
    font-size:15px;
}

.selecionado {
    border: thick  solid #32b72f;
}

.selecionado ion-icon {
    display: initial;
}

    .display {
        display:none;
    }